@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<body >
    <h2>Honestly we know absolutely nothing about ourselves but checkout all this positive feedback from our Customers!</h2>
<div class="py-5" >
<div class="container" >
<div class="row hidden-md-up" >
<div class="col-md-4" >
<div class="card" >
<div class="card-block" >
<h4 class="card-title" > SCAMMERS!</h4 >

<p class="card-text p-y-1" >I bought something from this guy and then the next day I had a $1000 
    purchase on Walmart.com on my card.</p >
</div >
</div >
</div >
<div class="col-md-4" >
<div class="card" >
<div class="card-block" >
<h4 class="card-title" > Please stop emailing me...</h4 >
<h6 class="card-subtitle text-muted" > Seriously bro</h6 >
<p class="card-text p-y-1" >I have unsubscribed from your email list TEN TIMES!!!!!</p >
</div >
</div >
</div >
<div class="col-md-4" >
<div class="card" >
<div class="card-block" >
<h4 class="card-title" >Lonely farmer looking for love</h4 >
<p class="card-text p-y-1" >Looking for a lovely gal to shuck some corn with</p >
<a href="https://www.farmersonly.com/" class="card-link" >if interested</a >
</div >
</div >
</div >
</div > <br >
<div class="row" >
<div class="col-md-4" >
<div class="card" >
<div class="card-block" >
<h4 class="card-title" >This website sucks</h4 >
<p class="card-text p-y-1" >I ordered a book and got a pair of freaking socks instead wtf.</p >
</div >
</div >
</div >
<div class="card" style="width: 18rem;">
  <video src="~/css/aaaaaaa.mp4" autoplay loop></video>
  <div class="card-body">
 
  </div>
</div>
<div class="col-md-4" >
<div class="card" >
<div class="card-block" >
<h4 class="card-title" > I hate you</h4 >

<p class="card-text p-y-1" >I hope this stupid crappy business closes forecer please I pray to god.</p >

</div >
</div >
</div >
</div >
</div >
</div >
<script src="https://code.jquery.com/jquery-3.1.1.min.js" > </script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" > </script >
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js" > </script >
</body >
