@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Background.css" />
<div class="text-center">
    <h1 style="color:white;" class="display-4">Welcome To Andrews Exquisite Book Gallery!</h1>
    <p style="color:white;">Learn about <a href="https://www.youtube.com/watch?v=95-SGhIeA9k">what goes on in my pea brain!!!!</a>.</p>
</div>

