@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href=~/css/Home.css />


<div  class="splash">
    <h1  class="fade-in">Welcome to the Useless Store!</h1>
   
</div>

<div class="twp-video-background">
  <div class="twp-video-foreground">
      <video autoplay muted loop id="myVideo">
        <source src="~/ADHD.mp4" type="video/mp4">
      </video>
  </div>
  <div class="twp-video-layer"></div>
</div>
<div>
    <h1 class="center" style="color:gold">The most useless store on the internet</h1>
    <h3 style="color:gold">Why are you shopping here.....weirdo</h3>
</div>